<<<<<<< 52f11ac17cdf37e556215e9253796f1a30418b55
﻿﻿.logo{
        width: 300px;
    margin-right: -60px;
}

.user-icon {
        width: 45%;
    margin: auto;
=======
﻿
* {
    font-family: 'Tajawal', sans-serif !important;
    font-size: 14px;
}


/* Set the size of the div element that contains the map */
#mapIn {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}

/* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

.sub-header {
    background-image: url(../img/bg-1.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    padding: 0px 0;
    position: relative;
    height: 40vh;
    margin-bottom: 30px;
}

.hamla-kind {
    margin-bottom: 10px;
}

.dropdown-st {
    height: 40px;
    border-radius: 5px;
    float: none !important;
}

.site-name {
    border: none !important;
    font-size: 18px;
    font-weight: bold;
    display:block
}

#Label5 {
    font-size: 20px;
    font-weight: bold;
    display:block
}

.iframe-rwd {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

    .iframe-rwd iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

#CheckBox2 {
    margin-right: 18%;
}

.choose-ques {margin-bottom:50px}

.choose-ques label {
    margin-right: 18px;
    font-size: 16px;
    font-weight: bold;
    
}

.add-hamla {
    margin-top: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
}

.add-btn {
    padding: 5px !important;
    font-weight: bold !important;
    font-size: 14px !important;
    width: 80px;
    margin-right: 78px;
}

#peapole_in_Hamlah {
    padding: 10px;
    background: #31708f;
    color: white;
    margin-top: 50px;
}


#Label7
{
    color: green;
    font-size: 20px;
    font-weight: bold;
    }
    
    input[type="checkbox"]:checked::after{left:-2px !important;}
    
    #Label9{    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;}

.logo {
    width: 300px;
    margin-right: -60px;
}

.container {
    margin: auto
}

.no-mar {
    margin:0 !important;
}

.user-icon {
        width: 45%;
    margin: 20px auto;
>>>>>>> update project files
}

.user-part {
    text-align:center
}

.user-btn {
    margin:0 !important;
    margin-top: 20px !important;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 45px;
}

<<<<<<< 52f11ac17cdf37e556215e9253796f1a30418b55
=======
.home-btn
{
    font-size:14px !important}

>>>>>>> update project files
.user-part {
    margin-top:30px
}
.phone-field{
    width:90%;
    margin:0 auto;
}
.smscode{
    margin-top:30px;
    width:100%;
<<<<<<< 52f11ac17cdf37e556215e9253796f1a30418b55
=======
    text-align:right;
        margin-right: 22%;
>>>>>>> update project files
}
.smscode input[type="text"]{
    margin-left:10px;
}
.col-md-3 , .col-md-5{
    float:right;
}
.colse-modal{
    margin-left:20px;
    font-size:18px;
    margin-top:20px;
}
.sms-field{
    margin-right:-15px;
}

.modal-body {
    padding:0;
}

.hajj-popup {
    padding-left:0
}

.close-hajj-popup {
    position: absolute;
    top: 0;
    left: 6px;
    z-index: 999;
    background: #fff !important;
    padding: 3px 7px !important;
    border-radius: 50% !important;
    margin: 5px;
}

<<<<<<< 52f11ac17cdf37e556215e9253796f1a30418b55


.sub-title {
    color:white;
    font-weight:normal;
=======
#users-buttons {
    background: rgb(0,0,0,0.5);
    border-radius: 10px;
    padding-bottom: 35px;
    margin-top: -50px;
}

.bord-left {
    border-left: 1px solid black;
}

.home-btn {
    background: #2acafe;
    border: none;
}

.sub-title {
    color: white;
    font-weight: normal;
    width: 85%;
    line-height: 35px
>>>>>>> update project files
}

.user-icon {
    width: 45%;
<<<<<<< 52f11ac17cdf37e556215e9253796f1a30418b55
    margin: auto;
=======
    margin:20px auto;
>>>>>>> update project files
}

.user-part {
    text-align:center
}

.user-btn {
    margin:0 !important;
    margin-top: 20px !important;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 45px;
}

.user-btn:hover {
    background:deepskyblue;
    color:white
}

    .user-btn:visited, .user-btn:focus {
        color: white
    }

.user-part {
    margin-top:30px
}
.phone-field{
    width:90%;
    margin:0 auto;
}
.smscode{
    margin-top:30px;
    width:100%;
}
.smscode input[type="text"]{
    margin-left:10px;
}
.col-md-3 , .col-md-5{
    float:right;
}
.colse-modal{
    margin-left:20px;
    font-size:18px;
    margin-top:20px;
}
.sms-field{
    margin-right:-15px;
}

.hajj-pop-icon {
    width: 30%;
    margin: auto;
    margin-bottom:30px;
}

.close-hajj-popup {
    position: absolute;
    top: 0;
    left: 6px;
    z-index: 999;
    background: #fff !important;
    padding: 3px 7px !important;
    border-radius: 50% !important;
    margin: 5px;
}

.cust_btn {
    background: deepskyblue;
    color: white;
    font-weight: bold !important;
    font-size: 14px !important;
    padding: 0 !important;
    min-width: 90px;
    min-height: 39px;
    margin: 0 10px;
    cursor:pointer
}

    .cust_btn:hover {
        background: #404040;
        border:none
    }

.input-pop {
    width: 70%;
    display: inline-block;
    float: right;
    margin-right: 12px;
    margin-bottom: 50px;
}

.sms-input {
    width:30%;
<<<<<<< 52f11ac17cdf37e556215e9253796f1a30418b55
=======
        float: none !important;
    display: inline;
>>>>>>> update project files
}

.sms-input {
    float:right !important;
}

/*qr code pop up ready code*/
.qr-cont {
    display: inherit;
    position: relative;
    text-align:center
}
.qrcode-text {
    padding-right: 1.7em;
    margin-right: 0;
    width: 250px;
<<<<<<< 52f11ac17cdf37e556215e9253796f1a30418b55
=======
    margin-left: 16%;
>>>>>>> update project files
}

.qrcode-text-btn {
    display: inline-block;
    background: url(../img/BARCODE.png) no-repeat;
    background-size: contain;
    height: 2em;
    width: 2.7em;
    margin-left: -1.7em;
    cursor: pointer;
    position: absolute;
    right: 52%;
<<<<<<< 52f11ac17cdf37e556215e9253796f1a30418b55
    top: 9px;
=======
    
>>>>>>> update project files
}

.pop-cont {
    margin: 30px;
    border: 1px solid #ddd;
    padding: 30px;
    background: #eee;
<<<<<<< 52f11ac17cdf37e556215e9253796f1a30418b55
=======
    text-align:center;
>>>>>>> update project files
}

    .qrcode-text-btn > input[type=file] {
        position: absolute;
        overflow: hidden;
        width: 1px;
        height: 1px;
        opacity: 0
    }

<<<<<<< 52f11ac17cdf37e556215e9253796f1a30418b55
.found-user i, .found-user span{
    color: #51dde9 !important;
=======
.found-user i, .found-user span {
    color: #31708f !important;
    font-family: FontAwesome !important;
}

.fa-user {
    font-size:100px !important;
    margin-bottom:10px !important;
}

.lost-user i, .lost-user span {
    color: #ffa335 !important;
    font-family: FontAwesome !important;
}

.losta-user i, .losta-user span {
    color: #e53642 !important;
    font-family: FontAwesome !important;
}

.upload-haj-btn {
    opacity: 0;
    display: inline-block !important ;
    position: absolute;
    left: 48%;
    top: 10px;
    z-index: 999;
    width: 65px;
}

.upload-img {
    width: 40px;
    position: absolute;
    left: 48%;
   
>>>>>>> update project files
}